body{
  /* margin:0px;
  padding:0px; */

/* background:linear-gradient(to right,#5d54a4, #9d65c9); */
background: url(background6.jpg) rgba(0, 0, 0, 0.7);

background-blend-mode: multiply;
   /* background-size: 100% 100%; */
background-size: cover;
  text-align: center;

}

#title{
  border-bottom: solid rgb(237,0,0) 2px;
  margin:auto;
  margin-top:2%;
  width:40%;
  font-size:50px;
  text-align: center;
  padding:2%;
  font-weight: 1000;

}

h1 span{
  /* position: absolute; */
  color:#111;
  text-shadow: 2px 4px 8px rgba(255,0,0,1);
  font-family: 'Great Vibes', cursive;
  animation: creation 2.4s ease infinite;
}

@keyframes creation{
  0%{
    color: rgb(255,80,80);
    text-shadow: 0 0 4px rgb(237,0,0), 0 0 10px rgb(237,0,0), 0 0 160px rgb(237,0,0), 0 0 20px rgb(237,0,0);
  }
 10%{
  color: rgb(255,80,80);
  text-shadow: 0 0 4px rgb(237,0,0), 0 0 10px rgb(237,0,0), 0 0 160px rgb(237,0,0), 0 0 20px rgb(237,0,0);
  }
  20%{
    color: rgb(255,80,80);
    text-shadow: 0 0 7px rgb(237,0,0), 0 0 14px rgb(237,0,0), 0 0 30px rgb(237,0,0), 0 0 40px rgb(237,0,0);
  }
  30%{
    color:rgb(255,119,119);
    text-shadow: 0 0 7px rgb(255,2,2), 0 0 14px rgb(255,21,21), 0 0 30px rgb(255,41,41), 0 0 40px rgb(255,61,61);
  }
  40%{
    color: rgb(255,157,157);
    text-shadow: 0 0 7px rgb(255,2,2), 0 0 14px rgb(255,21,21), 0 0 30px rgb(255,41,41), 0 0 40px rgb(255,61,61);
  }
  50%{
    color: rgb(255,177,177);
    text-shadow: 0 0 7px rgb(255,2,2), 0 0 14px rgb(255,21,21), 0 0 30px rgb(255,41,41), 0 0 40px rgb(255,61,61);
  }
  60%{
    color: rgb(255,177,177);
    text-shadow: 0 0 7px rgb(255,2,2), 0 0 14px rgb(255,21,21), 0 0 30px rgb(255,41,41), 0 0 40px rgb(255,61,61);
  }
  70%{
    color: rgb(255,157,157);
    text-shadow: 0 0 7px rgb(255,2,2), 0 0 14px rgb(255,21,21), 0 0 30px rgb(255,41,41), 0 0 40px rgb(255,61,61);
  }
  80%{
    color: rgb(255,119,119);
    text-shadow: 0 0 7px rgb(255,2,2), 0 0 14px rgb(255,21,21), 0 0 30px rgb(255,41,41), 0 0 40px rgb(255,61,61);
  }
  90%{
    color: rgb(255,80,80);
    text-shadow: 0 0 7px rgb(255,2,2), 0 0 14px rgb(255,21,21), 0 0 30px rgb(255,41,41), 0 0 40px rgb(255,61,61);
  }
  100%{
    color: rgb(255,80,80);
    text-shadow: 0 0 7px rgb(255,2,2), 0 0 14px rgb(255,21,21), 0 0 30px rgb(255,41,41), 0 0 40px rgb(255,61,61);
  }
}


.ABOUT{
  font-family: 'Bree Serif', serif;
font-weight: 400;
font-size:20px;
padding: 20px;
  margin:auto;
    background-color: rgba(157, 0, 0, 0.6);
    border-left-style:solid;
    border-color: rgb(255, 0, 0);
    border-left-width: 3rem;
    width:80%;
    color: #FFF;
    text-align: center;
}
li{
  text-align:left;
}
a{
  text-decoration: none;
  color:#FFF;

}
a:hover{
  text-decoration: none;
  color:#FFF;
}
a:active{
  text-decoration: none;
  color:#FFF;
}
a:visited{
  text-decoration: none;
  color:#FFF;
}

.btn-dark{
  background-color: rgb(255, 0, 0);
}
