body{
    min-height:100%;
  background: url(background5.jpg) rgba(0,0,0,0.6) no-repeat center center fixed;
  background-blend-mode: multiply;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  
  }
   .back{
    background:linear-gradient(#5d54a4, #9d65c9);
  
  }
  #title{
    margin:auto;
    margin-top:2%;
    width:40%;
  
    border-bottom: solid white 2px;
  
    font-size:70px;
    text-align: center;
    padding:2%;
    font-weight: 1000;
    color:white;
    text-shadow: 2px 2px 8px #FF0000;
  
    font-family: 'Great Vibes', cursive;
  
  }
  
  .stitle{
  
    font-family: 'Shadows Into Light', cursive;
  
    width:50%;
    margin:5% auto;
    font-size:50px;
    font-weight: 800;
    text-align: center;
    padding:2%;
    color:rgb(157, 0, 0);
  }
  
  .act{
    padding:5% auto;
    margin-bottom:5px;
  }
  
  .w{
    background: url(tom1.jfif) rgba(0,0,0,0.8);
    /* filter: grayscale(70%); */
    background-size: cover;
  
  }
  .a{
    background: url(tom2.jpg) rgba(0,0,0,0.8);
    /* filter: grayscale(70%); */
    background-size: cover;
  
  }
  .s{
    background: url(tom3.jfif) rgba(0, 0, 0, 0.8);
    /* filter: grayscale(70%); */
    background-size: cover;
  }
  .d{
    background-image: url("tom4.jpg");
    /* filter: grayscale(70%); */
    background-size: cover;
  }
  .j{
    background: url(snare.jpg) rgba(0,0,0,0.8);
    /* filter: grayscale(70%); */
    background-size: cover;
    background-blend-mode: multiply;
  }
  .k{
    background-image: url("kick.jfif");
    /* filter: grayscale(100%); */
    background-size: cover;
  }
  .l{
    background-image: url("crash.jfif");
    /* filter: grayscale(70%); */
    background-size: cover;
  }
  button{
    border-radius:50%;
    outline:none;
    /* border:black solid; */
  }
  span{
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  }
  .drum{
    /* box-shadow: 5px 5px 5px 5px rgba(255,0,0,0.6); */
    box-shadow: 4px 4px 4px 4px rgba(255,0,0, 0.9);
    outline: none;
    
    cursor: pointer;
    display:inline-block;
    text-align:center;
    color:rgb(255,2,2);
    font-weight: 900;
    text-shadow: 3px 1px #FFF;
    line-height:2;
    height:150px;
    width:150px;
    font-size:5rem;
    border-radius:50%;
    margin:5px;
  }
  
  /* .pressed{
    box-shadow: 0 3px 4px 0 blue;
    opacity: 0.5;
  } */
  
  
  
  
  
  
  /* Dropdown Button */
  .dropbtn {
    color: white;
    background-color: rgba(0,0,0,0);
    /* padding: 16px; */
  
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0,0.7);
    min-width: 160px;
    box-shadow: 0px 8px 11px 0px rgba(255, 0, 0, 0.8);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #000000;
    text-shadow: 2px 2px 4px #FF0000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(0, 0, 0,0.9);
    color: #FFF;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .abt{
    color:rgb(157, 0, 0);
    font-size:30px;
  }
  .abt:hover{
    font-size:36px;
    transition-delay: .2;
  }
  .abti{
    width:50px;
  }
  .abti:hover{
    width:60px;
  
    transition-delay: .2;
  }
  